body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    width: calc(100%-10px);
    height: 100vh; /* vh = % of the height of the viewport */
    padding: 0%;
    margin: 0px 5px;
    background: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: stretch;


    
    /* Text */
    h1 {
        color: black;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }
    p {
        color: black;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
    }

    header {
        order: 1;
        height: 20%;
        flex: 1 1 100%;
        
        padding: 10px 5px;
        margin: 10px;
        border-color: black;
        border-style: solid;
        border-width: 1px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        nav {
            text-align: center;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
        
                display: flex;
                flex-direction: row;
                justify-content: space-around;
        
                li {
                    padding: 0px;
                    display: inline;
                    text-align: center;
                }
            }
        }
        
    }

    aside {
        order: 2;
        height: 50%;
        flex: 1 1 1%;
        
        padding: 10px 5px;
        margin: 10px;
        border-color: black;
        border-style: solid;
        border-width: 1px;

        img {
            width: 100%;
        }
    }
    
    section {
        order: 3;
        height: 50%;
        flex: 4 1 4%;

        padding: 10px 5px;
        margin: 10px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
    }

    footer {
        order: 4;
        height: 20%;
        flex: 1 1 100%;

        padding: 10px 5px;
        margin: 10px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
    }
}

/* Responsive */
@media screen and (max-width: 1000px) {
    .page {
        flex-direction: column;
        flex-wrap: wrap;
        header {
            order: 1;
            width: 95%;
            flex: 0 1 20%;
            nav {
                ul {
                    flex-direction: column;
                }
            }
        }
        section {
            order: 2;
            width: 95%;
            flex: 0 1 20%;
        }
        aside {
            order: 3;
            width: 10%;
            flex: 0 1 10%;
        }
        footer {
            order: 4;
            width: 40%;
            flex: 0 1 10%;
        }
    }
}
